@import '../../scss/variables.scss';

@mixin dark-text-color {
    color: rgb(77, 77, 77);
}

@mixin light-text-color {
    color: rgb(215, 215, 215);
}

.Hex {
    position: absolute;
    width: 100px;
    height: 120px;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    z-index: 1;

    .tileCoords {
        position: absolute;
        font-size: 10px;
        top: 85px;
        right: 12px;
    }
}

.port,
.tileNumber {
    text-align: center;
    margin: auto;

    width: $tileNumberSize;
    height: $tileNumberSize;
    line-height: $tileNumberSize*.8; // center text vertically

    z-index: 5;

    border-radius: calc($tileNumberSize/2);
}

.tileNumber {
    width: $tileNumberSize * 1.5;
    margin-top: 30px;
    font-size: 16px;

    &.twoLines {
        margin-top: 24px;
    }
}

.port {
    @include dark-text-color;
    margin-top: 35px;
    line-height: $tileNumberSize; // center text vertically
    font-size: 16px;

    border: 1px solid lightgray; //darkgray;

    // &.sheep {
    //     border-color: rgb(193, 230, 193);
    // }

    // &.none,
    // &.grain {
    //     border-color: lightgray;
    // }
}

.dots {
    @include dark-text-color;
    font-size: 14px;
    text-align: center;
    margin: auto;
    line-height: 10px;
    // margin-top: -5px;

    overflow-x: visible;
}

.none {
    background-color: rgb(196, 196, 196);
}

.water {
    background-color: lightskyblue;
    z-index: 3;
}

.wood {
    @include light-text-color;
    background-color: rgb(32, 91, 32);
    z-index: 3;
}

.sheep {
    @include dark-text-color;
    background-color: rgb(110, 207, 110);
    z-index: 3;
}

.brick {
    @include light-text-color;
    background-color: rgb(142, 73, 63) !important;
    z-index: 3;
}

.ore {
    @include light-text-color;
    background-color: rgb(111, 111, 111);
    z-index: 3;
}

.grain {
    @include dark-text-color;
    background-color: rgb(224, 203, 45);
    z-index: 3;
}

.desert {
    background-color: rgb(243, 213, 152);
    z-index: 3;
}