$tileNumberSize: 40px;
$p0-color: red;

.App {
  position: relative;
  background-color: beige;
  left: 0px;
  width:100%;
  border: 3px solid black;

  &.HeaderInfo {
    position: relative;
    left: 0px;
    border: 2px solid gray;
    white-space: pre-wrap;
    width: 50%;
    float:left;
  }
  &.ActionButtons {
    display:inline;
    padding:15px;
  }
}

.Player {
  position: relative;
  width:40%;
  top: 0px;
  left: 0px;
  background-color: solid rgba(255, 255, 255, 0.466);
  white-space: pre-wrap;
  display:inline-block;
  padding:10px;
  padding-left:20px;
}
.PlayerList{
  margin:8px;
  display:inline;
}

.p0 {
  background-color: red !important;
}

.p1 {
  background-color: rgb(38, 145, 252) !important;
}


.NextTurnButton{
  float:right;
  width:45%
}
.ActionButton{
  float:left;
  width:47%;
  margin:5px;
}

.Board {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50px;
  left: 50px;
  height: 800px;
  width: 900px;
  background-color: lightblue;
}

.GameInfo {
  position: fixed;
  top: 0px;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px;
  background: lightgreen;
}

.Hex {
  position: absolute;
  width: 100px;
  height: 120px;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  z-index: 1;

  .tileNumber {
    color: black;
    text-align: center;
    margin: auto;
    margin-top: 40px;

    width: $tileNumberSize;
    height: $tileNumberSize;
    line-height: $tileNumberSize; // center text vertically

    font-size: 25px;
    z-index: 5;

    background-color: bisque;
    border-radius: calc($tileNumberSize/2);
  }

  .tileCoords {
    position: absolute;
    font-size: 14px;
    top: 80px;
    right: 20px;
  }

  &.water {
    background-color: rgba(173, 216, 230, 0);
    z-index: 3;
  }

  &.water {
    background-color: lightskyblue;
    z-index: 3;
  }

  &.wood {
    background-color: rgb(0, 90, 0);
    z-index: 3;
  }

  &.sheep {
    background-color: rgb(97, 222, 97);
    z-index: 3;
  }

  &.brick {
    background-color: rgb(146, 26, 8);
    z-index: 3;
  }

  &.ore {
    background-color: rgb(75, 75, 75);
    z-index: 3;
  }

  &.grain {
    background-color: rgb(237, 213, 30);
    z-index: 3;
  }

  &.desert {
    background-color: rgb(243, 213, 152);
    z-index: 3;
  }
}

.Town {
  width: 16px;
  height: 16px;
  border: 2px solid gray;
  border-radius: 50%;
  position: absolute;
  z-index: 10;

  stroke: solid gray;
  stroke-dasharray: 8, 8.5;
  stroke-width: 3;
  &.settlement{
    width: 18px;
    height: 18px;
    border: 0;
      border-radius:0;
    clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 50%, 50% 0%);
  }
  &.city{
    width: 22px;
    height: 22px;
    border: 0;
    border-radius:0;
    clip-path: polygon(0% 25%, 0% 100%, 100% 100%, 100% 50%, 50% 50%, 50% 25%, 25% 0%);
  }
  &.suburb{
    width: 26px;
    height: 26px;
    border: 0;
    border-radius:0;
    clip-path: polygon(0% 25%, 0% 100%, 100% 100%, 100% 50%, 75% 25%, 50% 50%, 50% 25%, 25% 0%);
  }
}

.highlight{
  border: 3px solid yellow !important;
}

.Road {
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
  background-color: gray;
  z-index: 10;

  &.vertical {
    height: 30px;
    width: 12px;
    border: 2px;
    background-color: gray;
    border-color: black;
  }

  &.neSlant {
    height: 30px;
    width: 50px;
    clip-path: polygon(25% 55%, 35% 85%, 78% 40%, 68% 15%);
  }

  &.nwSlant {
    //x = 100 - neSlant percent, no change to y
    height: 30px;
    width: 50px;
    clip-path: polygon(75% 55%, 65% 85%, 22% 40%, 32% 15%);
  }
}