@import 'src/scss/variables.scss';

.Player {
    padding: 10px;
    margin-bottom: 10px;
}

.p0 {
    background-color: rgb(255, 34, 34) !important;
}

.p1 {
    background-color: rgb(38, 145, 252) !important;
}

.p2 {
    background-color: rgb(55, 255, 55) !important;
}